.App {
  background-color: #333;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App__counterA,
.App__counterB {
  padding-top: 5px;
  text-align: center;
  background-color: #004444;
  height: 60px;
  width: 100px;
  border: 5px solid black;
  border-radius: 10px;
}
